<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./../WEB-INF/TemplateSV.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    
    <ui:define name="menuLeft">
       <div id="menu">
                        <p:menu>
                            <p:submenu label="#{props['admin.administracion']}">
                                <p:menuitem value="#{props['admin.cinicio']}" url="./../administrador.sv" />
                                <p:menuitem value="#{props['admin.cusuario']}" url="gestionarUsuario.sv" />
                                <p:menuitem value="#{props['admin.cfacultad']}" url="./../facultad/crearFacultad.sv"/>
                                <p:menuitem value="#{props['admin.cprograma']}" url="#" />
                                <p:menuitem value="#{props['admin.salir']}" url="./../logout.jsp" />
                            </p:submenu>
                         </p:menu>
       </div>
 
    </ui:define>

    <ui:define name="content">
        <h:form id="formUsuario">
            <center>     
               
                 <p:focus for="txtIdUsuario"/>
                    <table align="center">
                        <tr>
                             <td colspan="2" style="font-weight: bold; size: 30px; color:red;">#{props['admin.user.titulo']}</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold; size: 25px; color: blue;" align="right">#{props['login.lbl.usuario']}: </td>
                            <td><p:inputText id="txtIdUsuario"  value="#{nuevoUsuarioBean.idUsuario}" required="true" style="background-color: #FBDCDC !important;"
                                             requiredMessage="#{props['admin.required.idUsuario']}"/></td>
                            <td><p:message for="txtIdUsuario"/></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['login.lbl.password']} </td>
                            <td><p:password id="txtClave"  value="#{nuevoUsuarioBean.clave}" required="true" style="background-color: #FBDCDC !important;"
                                            requiredMessage="#{props['login.required.password']}"/></td>
                            <td><p:message for="txtClave"/></td>
                        </tr>
                         <tr>
                            <td style="font-weight: bold; size: 12px; color: blue;" align="right">#{props['admin.lbl.nuevaclave2']} </td>
                            <td><p:password id="txtClave2"  value="#{nuevoUsuarioBean.clavever}" required="true" style="background-color: #FBDCDC !important;"
                                            requiredMessage="#{props['login.required.password']}"/></td>
                            <td><p:message for="txtClave2"/></td>
                        </tr>
                        <tr>
                            <td colspan="3" style="text-align: center; color: red; font-weight: bold;">
                                <p:outputLabel value="#{nuevoUsuarioBean.mensajeClave}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <p:outputLabel for="console" value="#{props['admin.lbl.rol']}" />
                            </td>
                            <td> 
                                <p:selectOneMenu id="console" value="#{nuevoUsuarioBean.rol}"  >
                                    <f:selectItem itemLabel="Selecccione un Rol" itemValue="" />
                                    <f:selectItem itemLabel="Investigador" itemValue="Investigador" />
                                    <f:selectItem itemLabel="Programa" itemValue="Programa"   />
                                    <f:selectItem itemLabel="Facultad" itemValue="Facultad"  />
                                    <f:selectItem itemLabel="BioEtica" itemValue="BioEtica" />
                                    <f:selectItem itemLabel="ViceRectoria" itemValue="ViceRectoria" />
                                </p:selectOneMenu>
                           </td>
                            <td>
                                <p:commandButton value="#{props['admin.btn.crear']}" action="#{nuevoUsuarioBean.guardarRol()}" update="@form"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p:outputLabel for="items" value="#{props['admin.lbl.identificador']}" />
                            </td>
                            <td> 
                                <p:selectOneMenu id="items" value="#{nuevoUsuarioBean.identificador}" disabled="#{nuevoUsuarioBean.combo}">
                                    <f:selectItem itemLabel="Selecteccione el identificador" itemValue="" />
                                    <f:selectItems value="#{nuevoUsuarioBean.miCombo}" />
                                </p:selectOneMenu>
                           </td>
                        </tr>
                        
                        <tr>
                            
                            <td colspan="2">
                                <p:commandButton value="#{props['admin.btn.crear']}" action="#{nuevoUsuarioBean.insert}" update="formUsuario"/>                                               
                                <p:commandButton value="#{props['admin.btn.actualizar']}" action="#{nuevoUsuarioBean.update}" update="formUsuario"/>
                                <p:commandButton value="#{props['admin.btn.eliminar']}" action="#{nuevoUsuarioBean.delete}" update="@form" immediate="true"/>                   
                            </td>
                        </tr>
                        <tr>
                             <td colspan="3" style="text-align: center; color: red; font-weight: bold;">
                                <p:outputLabel value="#{nuevoUsuarioBean.mensaje}"/>
                             </td>
                                
                        </tr>
                    </table>
                     <p:dataTable id="tablaUsuarios" value="#{nuevoUsuarioBean.listaUsuarios}" var="obj" paginator="true"
                                     rowsPerPageTemplate="5, 10, 15, 20, 30, 40, 50"
                                     rowKey="#{obj.idUsuario}"
                                     lazy="true"
                                     selection="#{obj}"
                                     selectionMode="single"
                                     paginatorTemplate="{FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">

                         <p:column headerText="Identificador" style="text-align: center">
                             <h:outputText value="#{obj.idUsuario}"></h:outputText>
                         </p:column>

                        <p:column headerText="Nombre" style="text-align: center">
                            <h:outputText value="#{obj.rol}"/>
                        </p:column>
                    </p:dataTable>
                 
                  </center>   
                </h:form>
 
    </ui:define>

</ui:composition>

